[submodule "lib/pico-sdk"]
	path = software/lib/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
[submodule "software/lib/PicoDVI"]
	path = software/lib/PicoDVI
	url = git@github.com:SvenMb/PicoDVI_rp2040_pizero.git
